*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
}
header{
    display:flex; 
    justify-content: space-between;
    align-items: center;
} 
body{
   max-width:1400px;
   margin:auto;
} 
.hamburger{
    display:none;
}
.linkOptions li{
    display:inline;
    list-style: none;
    padding: 8px; 
    font-weight: 600;
   font-size: 15px;
   line-height: 22px;   
}
nav a{
        text-decoration: none;
        color: black;
}
.container{
    padding:0 30px;
}
.head{
    width:70%;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.mobileHeader{
    display:none;
}
.subscribe{
    padding-top: 60px;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    font-family: 'Inter';
}
#marketing{
    width:50%;
    padding: 15px 0;
    color: #585757;
}
.userInput{
   display: flex;
   column-gap: 10px;
}
.userInput input{
    width:180px;
    padding: 5px;
    border-radius: 2px gray;
}
.userInput button{
    width:70px;
    padding:4px;
}
.subscribe img{
    padding-top:30px;
}
.notifications{
    width:40%;
    padding: 10px;
    color:#d3d3d3;
    font-size: 13px;
}
.subscribe button{
    color: white;   
    background-color:#24AFB5;
    border: none;
    border-radius: 2px;
}
.earth{
    padding: 1rem 0;
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    width:100%;
    border-bottom: 1px solid #d3d3d3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}
.star{
    font-size:25px;
    padding: 40px;
    width:480px;
}
.install{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap:wrap ;
    column-gap: 3%;
    padding: 6% 0;
    border-bottom: 1px solid #d3d3d3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

}
.computerMonitor{
    flex-basis: 25%;
}
.computerMonitor h4{
     line-height: 40px;
}
.computerMonitor p{
    color: #585757;
}
#Learn a{
    color:#24AFB5;
    line-height:40px;
    text-decoration: none;
}
.Achievements{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:4rem 0;
    gap: 20px;
    border-bottom: 1px solid #d3d3d3;
    font-family: 'Inter';
    font-style: normal;
}
.Achieve{
 flex-basis:25%;
 font-weight: 400;
}
.Achieve h2{
    font-weight: 700;
    font-size: 54px;
   line-height: 78px;
}
.enormity{
    padding:50px 0;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    font-style: normal;
}
.shortHeading{
    padding:10px 0;
    font-size: 30px;
    font-weight: 700;
}
.enormityOfUniverse{
    padding: 4px;
    color:#585757;
}
.installMounts{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px 50px; 
}
.downarrow{
    display:none;
}
.stableAndSecure p{
 text-align: center;
 color:#585757; 
 font-weight: 400;
}
.stableAndSecurearrow{
 margin-bottom: 5rem;
}
#steps{
    padding:10px;
    color: black;
    font-weight: 600;
}
.beautyOfAstronomy{
    display:flex;
    padding: 0 40px;
    column-gap: 15px;
}
.astronomy{
    align-items: left;
    width:100%;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 400;
}
.astronomy img{
    padding-top: 30px;
}
.iPhoneImage{
    padding-top: 40px;
}
.astronomy h2{
    font-size: 30px;
    font-weight: 700;
}
.astronomy p{
    padding:20px 0;
    color: #585757;
}
#learnmore a{
    color:#24AFB5; 
    text-decoration: none;
}
.aspires{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:40px 0 ;
    column-gap: 20px;
    border-bottom:1px solid #d3d3d3 ;
}
.telescope{
    display:flex;
    width:255px;
    flex-wrap: wrap;
    flex-direction: column;
}
.telescope h3{
    font-weight: 600;
    line-height: 32px;
    font-size: 27px;
    padding: 10px 0;
}
#firstTelescope{
    color: #585757;
    font-size:18px;
}
#date{
    color: #d3d3d3;
    padding: 10px;
    font-size: 13px;
}
.viewsmessages{
    display:flex;
    align-items: center;
    column-gap: 30px;
    padding: 10px 0;
}
.views{
    display:flex;
    align-items: center;
    column-gap: 10px;
}
.messages{
    display:flex;
    align-items: center;
    column-gap: 10px;
}
.productCategory{
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    padding:3%;
}
.enormityOftheProduct{
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    border-bottom:1px solid #d3d3d3;
}
#stunnedUniverse{
    width:70%;
    padding:10px;
    color: #585757;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.longHeader{
    width:70%;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.userInput input{
    width:200px;
    padding: 3px;
}
.userInput button{
    width:70px;
    padding:4px;
}
.enormityOftheProduct p{
    color:#d3d3d3;
    font-size: 13px;
}
.notifications{
    width:460px;
    padding: 10px;
}
.sectionlogo{
    padding:10px;
}
.enormityOftheProduct button{
    color: white;   
    background-color:#24AFB5;
    border: none;
    border-radius: 2px;
}
.linkCategory{
    display:flex;
    column-gap: 3rem;
    justify-content:space-between;
}
.linkCategory ul{
    list-style: none;
}
.linkCategory li{
    padding:3px 0;
    color:#585757;
}
.linkCategory li b{
    color: black;
    font-weight: 600;
    font-size: 15px;
    line-height:22px;
}
.leftcategory{
    display:flex;
    justify-content: space-between;
}
.category{
    width:230px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#d3d3d3;
    padding:30px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
.sectionlogoimage{
    padding:20px 0px;
}
footer li{
    display: inline;
    list-style: none;
    padding: 10px;
}
footer a{
    text-decoration: none;
    color:#d3d3d3;
}
    @media (min-width: 400px) and (max-width: 550px){
    header nav{
        display: none;
    }
    .hamburger{
        display:block ;
        padding-right:10px;
    }
    .userInput{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        padding-top: 30px;
     }
     button{
        margin-top: 10px;
     }
     .head{
        display:none;
     }
     .mobileHeader{
        display: block;
        width:90%;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
    }
     .install{
        flex-direction: column;
     }
     .Achievements{
        display: flex;
        flex-direction: column;
        align-items: start;
     }
     .installMounts{
        flex-direction:column;
     }
     .stableAndSecurearrow{
        display:none;
     }
     .downarrow{
        display:block;
        padding: 25px 0px;
     }
     .astronomy{
        border-bottom: none;
     }
     .beautyOfAstronomy{
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #d3d3d3;
        align-items: start;
     }
     .aspires{
        flex-direction: column;
     }
     .linkCategory{
        flex-direction: column;
        row-gap: 10px;
     }
     .leftcategory{
        flex-direction: column;
        row-gap: 10px;
     }
     footer{
        flex-direction: column-reverse;
        row-gap:10px;
     }
    }
    @media (min-width: 700px) and (max-width: 900px){
       .hamburger{
        display:none;
       }
       .linkCategory{
        display:flex;
        column-gap:10px;
    }  
    .category{
        width:30%;
    }
    .linkCategory li{
         padding:3px;
    }
    }






