*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Inter';
}
header{
    display:flex; 
    justify-content: space-between;
    align-items: center;
} 
body{
   max-width:1400px;
   margin:auto;
} 
.hamburger{
    display:none;
    cursor: pointer;
}
.ham{
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    background-color: grey;
}
.linkOptions ul{
    display: flex;
}
.linkOptions li{
    list-style: none;
    padding: 8px; 
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;  
}
nav a{
        text-decoration: none;
        color: black;
}
.container{
    padding:0 30px;
}
.head{
    width:60%;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.mobileHeader{
    display:none;
}
.subscribe{
    padding-top: 70px;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
}
#marketing{
    width:60%;
    padding: 20px 0;
    color: #585757;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.userInput{
   display: flex;
   column-gap: 10px;
}
.userInput input{
    width:250px;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    padding:10px 15px;
}
.userInput button{
    width:90px;
    padding:10px 15px;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    color: white; 
    cursor:pointer;  
    background-color:#24AFB5;
    border: none;
}
.subscribe img{
    padding-top:30px;
}
.notifications{
    width:40%;
    padding: 20px 0;
    color: #969696;;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
.earth{
    padding:80px 0;
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    width:100%;
    border-bottom: 1px solid #d3d3d3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}
.star{
    width:60%;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}
.install{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap:wrap ;
    column-gap: 3%;
    padding: 8% 0;
    border-bottom: 1px solid #d3d3d3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}
.computerMonitor{
    flex-basis: 25%;
}
.computerMonitor h4{
     font-weight: 600;
     font-size: 20px;
     line-height: 26px;
     padding:10px 0;
}
.computerMonitor p{
    color: #585757;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 10px;
}
#Learn a{
    color:#24AFB5;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
}
.Achievements{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:80px 0;
    gap: 20px;
    border-bottom: 1px solid #d3d3d3;
}
.Achieve{
   flex-basis:25%;
   font-weight: 400;
}
.Achieve h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    
}
.Achieve p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #585757;
}
.enormity{
    padding:80px 0;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    font-style: normal;
}
.shortHeading{
    padding:10px 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.enormityOfUniverse{
    padding: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #585757;
}
.fixedMounts p{
    font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   color: #585757;
}
.installMounts{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px 50px; 
}
.downarrow{
    display:none;
}
.stableAndSecure p{
 text-align: center;
 color:#585757; 
 font-weight: 400;
}
.stableAndSecurearrow{
 margin-bottom: 5rem;
}
#steps{
    padding:10px;
    color: black;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.beautyOfAstronomy{
    display:flex;
    padding:40px;
    column-gap: 15px;
}
.astronomy{
    align-items: left;
    width:70%;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 400;
}
.astronomy img{
    padding-top: 30px;
}
.iPhoneImage{
    padding-top: 40px;
}
.astronomy h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.astronomy p{
    padding:20px 0;
    width:90%;
    color: #585757;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
#learnmore a{
    color:#24AFB5; 
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}
.aspires{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:60px 0 ;
    column-gap: 20px;
    border-bottom:1px solid #d3d3d3 ;
}
.telescope{
    display:flex;
    width:255px;
    flex-wrap: wrap;
    flex-direction: column;
}
.telescope h3{
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    padding: 10px 0;
}
#firstTelescope{
    color: #585757;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
#date{
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    padding: 10px;
    color: #969696;
}
.viewsmessages{
    display:flex;
    align-items: center;
    column-gap: 30px;
    padding: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #585757;
}
.views{
    display:flex;
    align-items: center;
    column-gap: 10px;
}
.messages{
    display:flex;
    align-items: center;
    column-gap: 10px;
}
.productCategory{
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    padding:3%;
}
.enormityOftheProduct{
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    border-bottom:1px solid #d3d3d3;
}
#stunnedUniverse{
    width:58%;
    padding:10px;
    color: #585757;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.longHeader{
    width:65%;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.notify p{
    width:460px;
    padding: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #969696;
}
.sectionlogo{
    padding:10px;
}
.linkCategory{
    display:flex;
    column-gap: 2.5rem;
    justify-content:space-between;
}
.linkCategory ul{
    list-style: none;
}
.linkCategory li{
    padding:3px 0;
    color:#585757;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.leftcategory{
    display:flex;
    justify-content: space-between;
}
.category{
    width:180px;
}
.socialMedia{
    padding-right: 70px;
}
.titleCategory{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #1C1C1C;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #969696;
}
.sectionlogoimage{
    padding:20px 0px;
}
footer li{
    display: inline;
    list-style: none;
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.iconMedia{
    display:flex;
    flex-direction: row;
    column-gap: 5px;
}
footer a{
    text-decoration: none;
    color:#d3d3d3;
}
#subscribeit{
    color:red;
}
#verifySubscribe{
    color:red;
}
    @media (min-width: 270px) and (max-width: 680px){
    .hamburger{
        display:block;
        padding-right: 10px;
    }
    .hamburger.active .ham:nth-child(2){
        opacity:0;
    }
    .hamburger.active .ham:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .ham:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .linkOptions ul{
        display:flex;
        flex-direction: column;
    }
    .linkOptions{
       position:fixed;
       right:-100%;
       top:70px;
       gap:0;
       background-color:whitesmoke;
       width:50%;
       height:200px;
       text-align:center;
       transition:0.3s;
    }
    .links{
        margin: 0;
    }
    .linkOptions.active{
        right:0;
    }
    .linknumber{
        transition:0.7s ease;
    }
    .linknumber:hover{
        color: aqua;
    }
    .subscribe img{
        width:100%;
        object-fit: cover;
    }
    .userInput{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        padding-top: 30px;
     }
     button{
        margin-top: 10px;
     }
     .head{
        display:none;
     }
     .mobileHeader{
        display: block;
        width:90%;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
    }
     .install{
        flex-direction: column;
     }
     .Achievements{
        display: flex;
        flex-direction: column;
        align-items: start;
     }
     .installMounts{
        flex-direction:column;
     }
     .stableAndSecurearrow{
        display:none;
     }
     .downarrow{
        display:block;
        padding: 25px 0px;
     }
     .astronomy{
        border-bottom: none;
     }
     .astronomy p{
        width:100%;
     }
     .beautyOfAstronomy{
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #d3d3d3;
        align-items: start;
     }
     .telescope img{
        align-items: center;
     }
     .aspires{
        flex-direction: column;
     }
     .linkCategory{
        flex-direction: column;
        row-gap: 10px;
     }
     .leftcategory{
        flex-direction: column;
        row-gap: 10px;
     }
     footer{
        flex-direction: column-reverse;
        row-gap:10px;
     }
    }
    @media (min-width: 700px) and (max-width: 900px){
       .hamburger{
        display:none;
       }
       .linkCategory{
        display:flex;
        column-gap:10px;
    }  
    .category{
        width:30%;
    }
    .linkCategory li{
         padding:3px;
    }
    }






