*{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat';
}
.claim{
   padding-top:20px;
   padding-left:100px; 
   color: #11119c; 
   font-size:15px ; 

}
.container{
   display:flex;
   justify-content: center;
   position: relative;
   padding-top:20px;
   padding-left:10px;
   font-size: 20px; 
   z-index:2;
}
.network:hover{
    background-color: rgb(8, 8, 243); 
    color:white;
}
.network{
    margin:3px;
    width:24%;
    font-size:16px;
    padding:10px;
    padding-left: 40px;
    background-color:  rgb(213, 228, 241);
    color:rgb(19, 19, 138);
}
.img{
    position: relative;
    top:-30px;
    z-index:-1;
}
.process{
    position:fixed;
    left:35%;
    bottom:60%;
    color:rgb(168, 218, 250);
    font-size: 40px;
} 
.Health{
    margin-top:-80px;
    margin-left: 10px;
    display:flex;
    padding: 30px;
    padding-left:80px;
    padding-bottom:50px;
}
.hospital{
    width:27%;
    background-color: whitesmoke;
    padding: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
.pause{
    position:absolute;
    left:50%;
    bottom:46%;
}